<!DOCTYPE html>
<html lang="en">

<header class="navheader">
    <h1>
        <a>Just-in A Tech Blog...</a>
    </h1>
    <nav>
      <div class="navitem"><a href="/">Home</a></div>
      <div class="navitem"><a href="/dashboard">Dashboard</a></div>
      {{#if loggedIn}}
      <div class="navitem"><button id="logout" class="btn-no-style">logout</button></div>
      {{else}}
      <div class="navitem"><a href="/login">login</a></div>
      {{/if}}
    </nav>
</header>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Justin's tech blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        {{#if loggedIn}}
          <a class="welcome">Welcome!</a>
        {{else}}
          <a>Please login or join our community by signing up...</a>
        {{/if}}
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      ...created by Justin Hanson
    </footer>
  </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>